<div class='table-responsive'>
    <table class='table'>
        <thead class='thead'>
            <tr>
                <th> ID </th>
                <th>First name</th>
                <th>Last name</th>
                <th>DOB</th>
                <th>email</th>
                <th>Address Line 1</th>
                <th>Address Line 2</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Zip Code</th>
                <th>User Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let user of users'>
                <td id='userID'>{{user.id}}</td>
                <td contenteditable='true' id='firstName'>{{user.firstName}}</td>
                <td contenteditable='true' id='lastName'>{{user.lastName}}</td>
                <td contenteditable='true' id='dob'>{{user.dob}}</td>
                <td contenteditable='true' id='email'>{{user.email}}</td>
                <td contenteditable='true' id='addressLine1'>{{user.addressLine1}}</td>
                <td contenteditable='true' id='addressLine2'>{{user.addressLine2}}</td>
                <td contenteditable='true' id='city'>{{user.city}}</td>
                <td contenteditable='true' id='state'>{{user.state}}</td>
                <td contenteditable='true' id='country'>{{user.country}}</td>
                <td contenteditable='true' id='zipCode'>{{user.zipCode}}</td>
                <td id='userName'>{{user.userName}}</td>
            </tr>
           
        </tbody>
    </table>
    <table>
        <tr>
            <td>
                <input type="submit" value="Save Changes" class='btn btn-primary' (click)='saveChanges(users)'>
</td> <td> </td><td>
    <button value="Back to Dashboard " class='btn btn-primary' (click)='backToDashboard()'>
        Back to Dashboard
    </button></td>
</tr>
</table>

</div>
