<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm.value)" class="text-center border border-light p-5">
    <h1> Change Password: </h1>
    <table class='table'>
        <tr>
            <td>
                User Name: </td>
            <td><input type="text" formControlName="userName" id="defaultForgotPasswordFormUserName" class="form-control">
            </td>
        </tr>
        <tr>
            <td>
                Password: </td>
            <td><input type="password" formControlName="password" id="defaultForgotPasswordFormPassword" class="form-control">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Change Password" class='btn btn-primary'>
            </td>
        </tr>
        
    </table>
    <hr>

</form>