<div>
  <table class='table'>
    <thead>
      <tr>
        <th> ID </th>
        <th>First name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let user of users'>
        <td>{{user.id}}</td>
        <td>{{user.firstName}}</td>
        <td><a class='nav-link' routerLinkActive='active' [routerLink]="['/forgotpassword']">Edit</a></td>
        <td><button value = "View "class='btn btn-primary'  (click)= 'view(user)'>View</button></td>
        <td><button value = "Delete "class='btn btn-primary'  (click)= 'delete(user)'>Delete</button> </td>
      </tr>
    </tbody>
  </table>
</div>